.about{
  width: 150rem;
  margin: 10rem auto;
}

.heading-about{
  font-size: 5rem;
  text-align: center;
  font-weight: 800;

  &__sub{
    color: $color-3;
  }
}

.about-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

.about-intro{
 flex: 0 0 50%;
 min-height: 20rem;
 margin-right: 2rem ;


}

.about-form{
  flex: 1;
  background-color: $color-3;
  min-height: 20rem;
  box-shadow: $shadow-dark;
  
}

.form-wrap{
  background-color: $color-grey-light-2;
  margin: 2rem;
  padding: 3rem;

}

.service{
  background-image: linear-gradient(to right bottom, rgba($color-3, .7), rgba($color-4, .7)), url(../img/image2.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  margin-top: 25rem;
}


.heading-service{
  padding-top: 20rem;
  text-align: center;
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 100px;

  span {
    color: #fff;
  }
}